@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-serif: "Merriweather", serif;
  --font-mono: "JetBrains Mono", monospace;
  --color-primary: #1a1a2e;
  --color-accent: #e94560;
  --color-sidebar: #16213e;
  --color-sidebar-hover: #1a2744;
}
