@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-serif: "Merriweather", serif;
  --font-mono: "JetBrains Mono", monospace;
  --color-primary: #000000;
  --color-accent: #BE11FF;
  --color-background: #FFFCF5;
  --color-sidebar: #1a0a20;
  --color-sidebar-hover: #2a1038;
}
