@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-serif: "Merriweather", serif;
  --font-mono: "JetBrains Mono", monospace;
  --color-primary: #000000;
  --color-accent: #BE11FF;
  --color-background: #FFFCF5;
  --color-sidebar: #000000;
  --color-sidebar-hover: #1a1a1a;
}
